#loginpage{background-image: url(https://wallpaperaccess.com/full/449895.jpg);
background-repeat: no-repeat;height: 100vh;}
.login
{
    display:flex;
    padding:15px;
    position: sticky;
    justify-content: space-between;
    align-items: center;
}
#center {text-align: center;}
#logo img{width:50px;}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
  }  
.login a 
{
    margin-left: 12px;
    font-size: large;
    padding: 10px 15px;
    border-radius: 25px;
    background-color: #005696;
    border-radius: 7\5px;
    color :white !important;
    cursor : pointer;
    text-decoration: none;
}

#loginform
{
    box-shadow: 1px 1px 3px blue;
    border-radius: 25px;
    width:fit-content;
    padding:50px;
    margin:auto;
}
#loginf td>input{border-color:#cccccc94;background: transparent;outline-color: blue;}
#loginform h2{text-align: center;font-weight: 700;}
#loginbtn{padding:10px 15px; border-radius: 50px; background-color: #33008b;color: white;}
#loginf {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#loginf tr,#loginf td{padding: 10px;}
table{margin: 30px 0 !important;}
.home{
    /* background: rgb(2,0,36);
    background: linear-gradient(39deg, rgba(2,0,36,1) 0%, rgba(0,86,150,1) 49%, rgba(0,212,255,1) 100%); */
    background: rgb(255,255,255);
    background: linear-gradient(225deg, rgba(255,255,255,1) 0%, rgba(0,212,255,1) 18%, rgba(0,86,150,1) 82%);    border:1px solid black;
    height:100vh
}
.home #sec1
{
    width:70%;
    margin: auto;
    padding-top:40px ;
    
    /* border:1px solid black; */
}
.home h1
{
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;
    padding-top: 30px;
    padding-left:20px;
    text-align: center;
    color:#33008b;
}
.home #sec1 #caption
{
    padding: 0 0px 0 50px;
    font-weight: 600;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    margin: auto !important;
}
.home p
{
    margin-left:60px;
    padding-top: 20px;
    font-size: 20px;
    text-align: center;
}
#link{color:blue;font-weight: 600;text-decoration: underline !important;}